@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

header .logo img {
  width: 80px;
}

body {
  font-family: "Calibre", sans-serif;
  background-color: #06061a;
}

header {
  padding: 0 40px;
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
}

header nav {
  width: 700px;
  padding: 6px 0;
}

header nav ol {
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: #dce7ff;
  counter-reset: li;
  transition: 0.5s ease-in-out;
}

header nav ol li:hover {
  transition-duration: 0.3s;
  color: #62a0ff;
}


ol li::before {
  content: counter(li) ".";
  color: #62a0ff;
  counter-increment: li;
  margin-right: 6px;
}

.logo {
  transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

div.side-info.left {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 80px;
  height: 300px;
  position: fixed;
  bottom: 0px;
  left: 20px;
  right: auto;
}

div.side-info.left ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%; /* Set a fixed height */
}



div.side-info.left ul::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0px auto;
  background-color: #dce7ff;
}

div.side-info ul {
  list-style: none;
}

.github, .linkedin {
  width: 2rem;
  filter: invert(98%) sepia(79%) saturate(7252%) hue-rotate(178deg) brightness(104%) contrast(101%);
}
