@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

::selection {
  background: #62a0ff;
}

header .logo img {
  width: 80px;
}

body {
  font-family: "Calibre", sans-serif;
  background-color: #06061a;
}

header {
  padding: 0 40px;
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
}

header nav {
  width: 700px;
  padding: 6px 0;
}

header nav ol {
  color: #dce7ff;
  display: flex;
  justify-content: space-around;
  list-style: none;
  counter-reset: li;
  transition: 0.5s ease-in-out;
}

header nav ol li:hover {
  transition-duration: 0.3s;
  color: #62a0ff;
}

ol li::before {
  content: counter(li) ".";
  color: #62a0ff;
  counter-increment: li;
  margin-right: 6px;
}

.logo {
  transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

div.side-info.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 80px;
  position: fixed;
  bottom: 0px;
  left: 20px;
  right: auto;
}

div.side-info.left ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

div.side-info.left ul li {
  padding: 16px 0px;
}

div.side-info.left ul::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0px auto;
  background-color: #dce7ff;
}

div.side-info.left ul {
  list-style: none;
}

div.side-info.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 80px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  left: auto;
}

div.side-info.right a {
  margin: 20px auto;
  padding: 10px;
  color: #dce7ff;
  writing-mode: vertical-rl;
  font-family: "Space Mono", monospace;
  transition: transform 0.3s ease-in-out;
  letter-spacing: 0.1em;
}

.side-info.right a:hover {
  transform: translateY(-5px);
  color: #62a0ff;
}

div.side-info.right::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0px auto;
  background-color: #dce7ff;
}

img.github,
img.linkedin,
img.gmail {
  width: 2rem;
  filter: invert(98%) sepia(79%) saturate(7252%) hue-rotate(178deg)
    brightness(104%) contrast(101%);
  transition: transform 0.3s ease-in-out;
}

img.github:hover,
img.linkedin:hover,
img.gmail:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 0 0.75rem) invert(56%) sepia(68%) saturate(1440%)
    hue-rotate(192deg) brightness(100%) contrast(103%);
}

main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

section {
  margin: 0px auto;
  max-width: 1000px;
  padding: 100px 0px;
}

.pre-intro {
  overflow: hidden;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
  width: 100%;
  padding: 0px;
}

.pre-intro h1 {
  margin: 20px 0px 20px 4px;
  font-family: "Space Mono", monospace;
  color: #62a0ff;
}

.pre-intro h2 {
  font-size: clamp(40px, 8vw, 80px);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #dce7ff;
  line-height: 1.1;
}

.pre-intro h3 {
  font-size: clamp(40px, 8vw, 80px);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #8892b0;
  line-height: 1.3;
}

.pre-intro p {
  margin-top: 20px;
  line-height: 1.6;
  max-width: 600px;
  color: #dce7ff;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.pre-intro button {
  all: unset;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  margin-top: 56px;
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: #0071d7;
  border: 1px solid #0071d7;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.section-title {
  color: #dce7ff;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
}

section.aboutme {
  max-width: 900px;
}

.about-title {
  margin: 10px 0px 40px;
}

section.aboutme div.aboutme-content p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #8892b0;
  margin: 0px 0px 15px;
}

ul.skills-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 250px));
  padding: 0px;
  overflow: hidden;
  list-style: none;
}

ul.skills-list li {
  color: #dce7ff;
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  font-family: "Space Mono", monospace;
  font-size: 1.25rem;
  left: 0px;
}

ul.skills-list li::before {
  content: "⊛";
  position: absolute;
  left: 0px;
  color: #0071d7;
}

ul.projects li {
  margin-top: 40px;
}

ul.projects li {
  overflow: hidden;
  list-style: none;
}

.project-content {
  display: flex;
}

.project-title {
  line-height: normal;
  font-family: "Space Mono", monospace;
  margin-bottom: 1em;
  color: #62a0ff;
  /* background: linear-gradient(to right, #62a0ff 0%, #0071d7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

ul.projects li div.project-screenshot img {
  border-radius: 6px;
  width: 800px;
  max-width: 100%;
}

ul.projects li div.project-description {
  color: #8892b0;
  width: 100%;
  padding: 0px 20px;
  text-align: justify;
  word-spacing: -2px;
  line-height: normal;
}

ul.projects li div.project-description span {
  color: #62a0ff;
}

.project-description .github-repo {
  margin-top: 1em;
}

footer {
  color: #dce7ff;
  font-family: "Space Mono", monospace;
  font-size: 0.75rem;
  text-align: center;
  padding: 20px 0px;
}

.socials {
  display: none;
}

@media only screen and (max-width: 1060px) {
  ul.projects .project-content {
    flex-direction: column;
  }

  ul.projects li div.project-description {
    padding: 20px 0px;
  }

  header nav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .socials {
    display: block;
    max-width: 250px;
    margin: 0px auto 16px;
  }

  .socials ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  div.side-info.right,
  div.side-info.left {
    display: none;
  }

  main {
    padding: 0px 50px;
  }
}
